:root {
    /* Version Light */
    --color-fondo-light: #F3F3E0;
    --color-titulo-light: #133E87;
    --color-texto-light: #133E87;
    --color-boton-light: #608BC1;
    --color-boton-texto-light: #F3F3E0;
    --color-link-light: #133E87;
    --color-link-hover-light: #608BC1;

    --font: 'Poppins', sans-serif;


    /* Version Dark */
    --color-fondo-dark: #091057;
    --color-titulo-dark: #EC8305;
    --color-texto-dark: #DBD3D3;
    --color-boton-dark: #024CAA;
    --color-boton-texto-dark: #DBD3D3;
    --color-link-dark: #EC8305;
    --color-link-hover-dark: #024CAA;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: var(--font);
    background-color: #fff;
    color: #333;
}

a {
    text-decoration: none;
}

;

/* ------------------------------------------------------------------------------------------- */
/* Light Mode */
body {
    background-color: var(--color-fondo-light);
    color: var(--color-texto-light);
}

h1,
h2,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-titulo-light);
}

a {
    color: var(--color-link-light);
}

a:hover {
    color: var(--color-link-hover-light);
}

button {
    background-color: var(--color-boton-light);
    color: var(--color-boton-texto-light);
}

/* ------------------------------------------------------------------------------------------- */
/* Dark Mode */
body.dark-mode .section-introduccion {
    background-color: var(--color-fondo-dark);
    color: var(--color-texto-dark);
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6 {
    color: var(--color-titulo-dark);
}

body.dark-mode a {
    color: var(--color-link-dark);
}

body.dark-mode a:hover {
    color: var(--color-link-hover-dark);
}

body.dark-mode button {
    background-color: var(--color-boton-dark);
    color: var(--color-boton-texto-dark);
}

/* ------------------------------------------------------------------------------------------- */
/* Classes */


/*--------------Comienza Header-------------------------------*/


.toggle-contenedor {
    display: flex;
    justify-content: flex-end;
    padding: 1% 10% 1% 10%;
    background-color: var(--color-boton-light);
}

.toggle-theme {
    background-color: var(--color-boton-dark);
    border: none;
    padding: 10px 10px 10px 10px;
    border-radius: 7px;
    margin-right: 50px;
}

.contenedor__navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10% 1% 10%;

}

.clase__titulo-sitio-header {
    font-size: 40px;
    font-weight: 600;
}


.clase__sub-titulo {
    font-size: 15px;
    font-weight: 400;
}

.clase__menu-principal ul {
    list-style-type: none;
    padding: 0;
}

.clase__menu-principal li {
    display: inline;
    margin-right: 10px;

}

.clase__menu-principal i {
    margin-left: 10px;
    /* Espacio entre el texto y el icono */
}


/*--------------Comienza Main-------------------------------*/

/*
.main {
    padding: 1% 10% 1% 10%;
}
*/

.section-introduccion {
    width: 100% !important; /* Asegura que la sección ocupe el ancho completo */
    padding: 0 !important; /* Elimina el relleno para que no haya espacio */
    background-color: var(--color-fondo-light); /* Cambia este color según tus necesidades */
}

.clase__introduccion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 5% 10% 5% 10%;    
}

.clase__introduccion p {
    font-family: var(--font);
}

.clase__contenido-izquierdo {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.image {
    width: 300px; 
    height: 300px; 
    border-radius: 50%; 
    object-fit: cover;
    box-shadow: 0 2px 5px rgba(0, 1, 1, 0.5);
}


.seccion__acerca {
    padding: 3% 40% 3% 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



#hobbies {
    padding: 20px;
    background-color: var(--color-boton-texto-light);
}

.hobbies {
    padding: 5% 10% 5% 10%; 
    display: flex;
    justify-content: space-between; /* Espacia el contenido y las imágenes */
    align-items: center; /* Alinea el contenido en la parte superior */
    gap: 30px; 
}

.hobbies__contenido {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hobbies__fotos {
    width: 40%;
}

.gallery {
    display: grid; /* Usa grid para organizar las imágenes */
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 10px; /* Espacio entre las imágenes */
}

.gallery img {
    width: 200px; /* Hace que las imágenes ocupen el 100% del contenedor */
    height: 200px; /* Mantiene la proporción */
    border-radius: 30%; /* Opcional: añade bordes redondeados */
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05); /* Escala la imagen al 105% al pasar el mouse */
}




.Skills {
    padding: 5% 10% 5% 10%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.skills__contenedor {
    display: grid; /* Usa grid para organizar las cajas */
    grid-template-columns: repeat(5, 1fr); /* 5 cajas por fila */
    gap: 20px; /* Espacio entre las cajas */
}

.skill__item {
    background-color: #fff; /* Color de fondo de las cajas */
    border: 1px solid #ccc; /* Borde de las cajas */
    border-radius: 7px; /* Bordes redondeados */
    padding: 20px; /* Espacio interno */
    text-align: center; /* Centra el contenido */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para un efecto de elevación */
    transition: transform 0.3s; /* Transición para la animación al pasar el mouse */
}

.skill-description {
    display: none; /* Oculta el texto explicativo por defecto */
    position: absolute; /* Asegura que se superponga a la caja */
    top: 50%; /* Centro verticalmente */
    left: 50%; /* Centro horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la posición */
    background: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.skill__item:hover {
    transform: scale(1.05); /* Escala la caja al pasar el mouse */
}

.skill__item i {
    font-size: 40px; /* Tamaño del icono */
    color: var(--color-fondo-dark); /* Color del icono (puedes ajustar esto) */
}

.skill__item h4 {
    margin-top: 10px; /* Espacio entre el icono y el título */
    font-size: 18px; /* Tamaño del texto del título */
    color: #333; /* Color del texto del título */
}


.clase__descargar-cv button {
    padding: 10px 20px;
    background-color: var(--color-boton-light);
    /* Default to light mode color */
    color: var(--color-boton-texto-light);
    /* Default to light mode color */
    border: none;
    cursor: pointer;
}

.clase__footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
}